{% extends "index.html" %}

{% load static %}



{% block nav %}
<link href="{% static 'css/teacher_detail.css' %}" rel="stylesheet">
<nav id="navmenu" class="navmenu">
<ul>
  <li><a href="{% url 'index' %}">Главное<br></a></li>
  <!-- <li><a href="about.html">О школе</a></li> -->
  <li class="dropdown"><a href="#" class="active"><span>Школа⬇</span> <i class=""></i></a>
    <ul>
      <li><a href="{% url 'about' %}" class="active">О нас</a></li>
      <li><a href="{% url 'list_teacher' %}">Администрация и педогагический состав</a></li>
    </ul>
  </li>
  <li class="dropdown"><a href="#"><span>Учебный процесс</span><i class=""></i></a>
    <ul>
      <li><a href="{% url 'student_list' %}">Активные ученики</a></li>
        <li><a href="{% url 'schedule_list' %}">Расписание</a></li>
    </ul>
  </li>
  <li><a href="{% url 'gallery_list' %}">Галерея</a></li>
  <li><a href="{% url 'post_list' %}">Новасти</a></li>
  {% if user.joined_groups >= 1 or user.taught_groups >= 1  %}
      <li class="dropdown"><a href=""><span>Группы</span></a>
          <ul>
              {% if user.joined_groups.all or user.taught_groups.all %}
                {% for group in user.joined_groups.all %}
                <li><a href="{% url 'group_detail' group.id %}">{{ group.name }}</a></li>
                {% endfor %}
                {% for group in user.taught_groups.all %}
                <li><a href="{% url 'group_detail' group.id %}">{{ group.name }}</a></li>
                {% endfor %}
              {% else %}

              {% endif %}
          </ul>
      </li>
  {% endif %}

  {% if user.is_superuser %}
    <li class="dropdown"><a><span>Акаунт</span></a>
        <ul>
            <li>
                <a href="{% url 'profile' pk=user.id %}">Профиль</a>
{#                    <a href="{% provider_login_url 'google' %}">Войти через Google</a>#}
            </li>
            <li><a  href="{% url 'register' %}">Создать пользователя</a></li>
        </ul>
      </li>
  {% else %}
    {% if user.is_authenticated %}
      <li><a href="{% url 'profile' pk=user.id %}"><span>Профиль</span></a>

    {% else %}
      <li class="dropdown"><a><span>Акаунт</span></a>
        <ul>
            <li>
            <a  href="{% url 'login' %}">Войти</a>
            </li>
        </ul>
      </li>
    {% endif %}
  {% endif %}

    <!--  <li><a href="contact.html">Contact</a></li> -->
</ul>
<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>

{% endblock nav %}

{% block main_content %}

<link rel="stylesheet" href="{% static 'css/teacher_detail.css' %}">
<div class="profile-container">
    {% if student.image %}
    <div class="profile-image-container">
        <img src="{{ student.image.url }}" width="100" class="profile-image">
    </div>
    {% endif %}
    <div class="profile-details-container">
        <h5 class="profile-name">{{ student.first_name }} {{ student.last_name }}</h5>
        <span class="profile-position">{{ student.position }}</span>
        {% if student.age %}
            <div class="profile-age">
                <a>Age: {{ student.age }}</a>
            </div>
        {% endif %}
        <div class="profile-bio">
            <p>{{ student.bio }}</p>
        </div>
        <div class="profile-contact">
            {% if student.email %}
                <a>{{ student.email }}</a>
            {% endif %}
        </div>
        {% if user.is_superuser or user.role == content_maker %}
        <div class="profile-actions">
            <a href="{% url 'student_update' pk=student.id %}" class="btn-update">Update</a>
            <a href="{% url 'student_delete' pk=student.id %}" class="btn-delete">Delete</a>
        </div>
        {% endif %}
    </div>
</div>




{#<a href="{% url 'student_update' student.pk %}">Edit</a>#}
{#<a href="{% url 'student_delete' student.pk %}">Delete</a>#}

{% endblock main_content %}

{% block map %}
{% endblock %}